body {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}

label {
	display: block;
}

input {
	margin: 10px 0;
}

#map {
	height: 100%;
	width: 80%;
	display: inline-block;
}

#form {
	position: absolute;
	margin-top: 8%;
	left:0px;
	z-index: 999999;
	height: auto;
	width: 25%;
	float: right;
	padding: 40px 2%;
	background-color:rgba(0,0,0,0.5);
	color: #FFF;
}
.setTitle{
	position: absolute;
	top: 25%;
	left: 50%;
	width: 200px;
	height: 300px;
}

	